nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
        width: 20%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 1.2rem;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: grey;
                    cursor: pointer;
                }
            }
        }
    }
}